.container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows:  repeat(10, minmax(40px,auto));
  grid-gap: 10px;
}

.layout.header{
  grid-column: 1/8;
  grid-row: 1;
}

.layout * { background: blue; }


.layout.principal{
  grid-column: 4;
  grid-row: 2;
}

.layout.photo{
  grid-column: 3/6;
  grid-row: 3;
}

.layout.one{
  grid-column: 4;
  grid-row: 4;
}

.layout.two{
  grid-column: 3/6;
  grid-row: 5;
}

.layout.three{
  grid-column: 4;
  grid-row: 6;
}

#img{
  width: 120%;
}
.layout.four{
  grid-column: 4;
  grid-row: 7;
}

.layout.five{
  grid-column: 2/7;
  grid-row: 8;
}

.layout.six{
  grid-column: 2/7;
  grid-row:9;
}

.layout.seven{
  grid-column: 1/8;
  grid-row: 10;
}