/* Reset referenc https://meyerweb.com/eric/tools/css/reset/ */
*, *::after, *::before {
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: block;
  clear:both;
}

ul, li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: arial, sans-serif;
  /* padding-left: 35px; */
  font-size: 16px;
}
/*  header */

header {
  margin-left: -55px;
  overflow-x: visible;
  height: 50px;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  margin-bottom: 2rem;
  background: #fff;
  box-shadow: 2px 0 5px 0 #ccc;
  z-index: 101;
}

.main-nav {
  height: 50px;
  line-height: 50px;
}

.main-nav li {
  display: inline-block;
  line-height: 1;
}

.main-nav a {
  vertical-align: middle;
  font-size: 0.7em;
  font-weight: bold;
}

.left-links {
  position: absolute;
  left: 0;
  top: 0;
}

.left-links li {
  margin-right: 10px;
  margin-left: 1rem;
}

.left-links a {
  padding: 3px 0 3px 20px;
  background-position: left center;
}

.home-link {
  background: url("img/logo.png") no-repeat;
  background-size: 14px 16px;
}

.home-link a{
  font-size: 23px;
}
.right-links {
  position: absolute; 
  right: 2rem;
  top: 0;
}

.logo {
  width: 185px;
  height: 100%;
  margin: 0 auto;
  display: block;
  line-height: 50px;
}

.logo img {
  display: inline;
  vertical-align: middle;
}

.btn {
  background: #6288A5;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  padding: 9px 10px;
  font-size: 0.7em;
  margin-left: 1rem;
}

 .principal {
  background-color: aqua;
  padding: 80px 80px;
  text-align: center;
}

.principal h1{
  padding: 
}